body,
html {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  letter-spacing: 0.1 rem;
}

/*  Navbar*/

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

#app > div > div:nth-child(1) > nav > button > span:nth-child(3) {
  font-size: 12px;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
}
.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(236, 236, 236, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(168, 166, 166, 0.25);
}

/*   carousel  */
/* section01 輪播圖--------------------------------------------------------------------------------------------------------------- */
.carousel-control-prev,
.carousel-control-next {
  transition: 0.5 s;
}
.carousel-caption {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "Sawarabi Mincho", "HG明朝E", "ＭＳ Ｐ明朝",
    "ＭＳ 明朝", serif;
  position: absolute;
  right: 15%;
  bottom: 5%;
  top: 0;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 輪播圖放大動畫------------------------------------------------------------------------------------------------------------------- */
.img-scaleBig {
  animation: img-scaleBig 20s 1s ease forwards;
}

@keyframes img-scaleBig {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

/* 自定義輪播圖指示器-------------------------------------------------------------------------------------------------------------- */

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* 字元顯示 */
  text-indent: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease;
}
.carousel-indicators {
  display: flex;
  justify-content: end;
  align-items: center;
}

.carousel-indicators li.active {
  opacity: 0.5;
  width: 20px;
  height: 20px;
}
.carousel-indicators li span {
  transition: 0.5s;
}

.carousel-indicators li.active span {
  font-size: 1.5rem;
}
.brightness {
  -webkit-filter: brightness(0.8);
}

// Activity

#section03 h1 {
  text-align: center;
  padding-top: var(--s5);
  margin: var(--s0) 0;
  color: var(--coffee5);
}

#section03 > .container > .row {
  background: var(--black50);
  padding: var(--s2);
  padding-top: var(--s4);
}

#section03 .col-lg-3 {
  padding-left: var(--s2);
  padding-right: var(--s2);
  margin-bottom: var(--s3);
}
#section03 .view {
  position: relative;
  overflow: hidden;
}

#section03 .view img {
  transition: 0.5s;
}

#section03 .view .text {
  color: white;
  background-color: var(--black50);
  padding: 0 var(--s3);

  /* 文字在上層 */
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  transition: 1s;
}

#section03 .text p {
  display: none;
}

#section03 .view:hover img {
  transform: scale(1.2);
}

#section03 .view:hover .text {
  background-color: var(--black75);
}

// icon

.fab {
  color: whitesmoke;
  font-size: 1.75rem;
}
